.profile_info img{
    display: block;
    float: left;
}
.profile_info_block{
    width: 450px;
    display: block;
    float: left;
    margin-left: 30px;

}
.user_name{
    font-size: 24pt;
    font-family: Arial, Helvetica, serif;
    color:black;
}
.info_user{
    display: block;
    margin-top: 15px;
    font-family: Arial, Helvetica, serif;
    font-size: 12pt;
    color: black;
}
#city{
     margin-left: 120px;
 }
#rating{
    margin-left: 105px;
}
#fans{
    margin-left: 70px;
}
.profile_info_description{
    margin-top: 10px;
    margin-bottom: 2px;
    padding: 15px;
    width: 664px;
    font-size: 17pt;
    color: black;
    border: 1px solid #aaa8ae;
    webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    box-shadow: 0 0 2px 1px #cac8ce;
}
.info_record{
    display: block;
    margin-top: 10px;
    border: 1px solid #cac8ce;
    background-color: #cac8ce;
    padding-left:15px;
    padding-right: 15px;
    vertical-align: middle;
    height: 22px;
    font-family: Arial, Helvetica, serif;
    font-size: 14pt;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
     width: 663px

}
.info_record span{
    float: right;
    font-size: 14pt;
    font-family: Arial, Helvetica, serif;
}
.info_record img{
    float: right;
    margin-left: 4px;
    display: block;
    margin-top: 8px;
}
.setting-avatar{
    float: left;
}
.change-photo {
    width: 123px;
    display: block;
    float: left;
}
.change-photo input {
    width: 123px;
    display: block;
    float: left;
}
.change-photo a{
    font-family: Arial, Helvetica, serif;
    font-size: 14px;
    display: block;
    text-align: center;
    height: 25px;
    line-height:25px;
    border: 1px solid #797979;
    width: 123px;
    margin-top: -4px;
    background-color: #f0f1eb;
}
.form_profile_info{
    position: absolute;
    z-index: 1;
    margin-left: 150px;
}
.label-name-user{
    margin-left: 58px;
}
.label-name-user span{
    position: absolute;
    font-family: Arial, Helvetica, serif;
    font-size: 17px;
    margin-right: 20px;
}
.label-email{
    margin-top: 12px;
}
.label-email span{
    position: absolute;
    font-family: Arial, Helvetica, serif;
    font-size: 17px;
    margin-right: 20px;
}
.label-sex{
    margin-left: 167px;
}
.label-sex span{
    position: absolute;
    font-family: Arial, Helvetica, serif;
    font-size: 17px;
    margin-right: 20px;
}
.clear-profile-setting{
    clear: both;
    margin-top: 12px;
}
.label-city{
    margin-left: 158px;
}
.label-city span{
    position: absolute;
    font-family: Arial, Helvetica, serif;
    font-size: 17px;
    margin-right: 20px;
}
.select-form-setting-info{
    width: 231px;
    background-color: #cac8ce;
    height: 28px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    background-image: url('/images/gal.png');
    line-height: 1em;
    background-position: 97% 50%;
    background-repeat: no-repeat;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-left: 6px;
    font-size: 16px;
    padding-left: 10px;
}
.input-form-setting-info{
    width: 220px;
    background-color: #cac8ce;
    height: 28px;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    padding-left: 10px;
}
.about-me{
    margin-top: 40px;
    font-family: Arial, Helvetica, serif;
    font-size: 17px;
}
.about-me-input{
    margin-top: 4px;
    margin-left: 1px;
    margin-bottom: 1px;
    width: 686px;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #bbb9be;
    font-size: 16px;
    padding-left: 10px;
    height: 100px;
    box-shadow: 0 0 2px 1px #cac8ce;
}
.setting-tape{
    font-family: Arial, Helvetica, serif;
    font-size: 17px;
    margin-top: 50px;
}
.setting-checkbox{
    margin-top: 10px;
    margin-bottom:20px;
    height: 20px;
}
.setting-checkbox input{
    width: 20px;
    height: 20px;
}
.setting-checkbox span{
    height: 20px;
    margin-left: 35px;
    margin-top: -22px;
    font-size: 14px;
    font-family: Arial, Helvetica, serif;
    display:block;

}
.ignored{
    margin-top: 30px;
}
.ignored-topics{
    font-family: Arial, Helvetica, serif;
    font-size: 17px;
    width: 330px;
    float: left;
}
.ignored-topics textarea{
    width: 330px;
    margin-top: 4px;
    margin-left: 1px;
    margin-bottom: 1px;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #bbb9be;
    font-size: 16px;
    padding-left: 10px;
    height: 200px;
    box-shadow: 0 0 2px 1px #cac8ce;
}
.ignored-users{
    float: left;
    width: 330px;
    margin-left: 25px;
}
.ignored-users textarea{
    width: 330px;
    margin-top: 4px;
    margin-left: 1px;
    margin-bottom: 1px;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #bbb9be;
    font-size: 16px;
    padding-left: 10px;
    height: 200px;
    box-shadow: 0 0 2px 1px #cac8ce;
}
.change-the-password{
    margin-top: 30px;
    font-family: Arial, Helvetica, serif;
    font-size: 17px;
    margin-bottom: 20px;
}
.change-the-password label{
    font-family: Arial, Helvetica, serif;
    font-size: 14px;
    margin-top: 10px;
    display: block;

}
.change-the-password label span{
    position: absolute;

}
#new-password2{
    margin-left: -150px;

}
#new-password{
    margin-left: -123px;
}
#current-password{
    margin-left: -136px;
}
.password-field{
    width: 190px;
    background-color: #cac8ce;
    height: 28px;
    webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    font-size: 16px;
    padding-left: 10px;
}
.float-right{
    margin-left: 150px;

}
.bottom{
    clear: both;
    margin-bottom: 150px;
}
.save-button{
    margin-top: 45px;
    cursor: pointer;
    width: 340px;
    height: 33px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-color: #7a7189;
    color: #fdfdfe;
    font-size: 17px;
}
.save-button:hover{
    background-color: #2b2535;
}
.flash-message{
    position:absolute;
    font-size: 13px;
    font-family: Arial, Helvetica, serif;
    width: 80px;
    color:rgba(119,119,119,1);
    display: none;
}
#flash-message-1{
    left: 105%;
    top: -5%;
}
#flash-message-2 {
    left: 105%;
    top: 25%;
}
#flash-message-3{
    left: 105%;
    top: 80%;
}
.flash-message-select{
    position: absolute;
    font-size: 13px;
    font-family: Arial, Helvetica, serif;
    width: 80px;
    color:rgba(119,119,119,1);
    display:block;
    margin-left: 480px;
    margin-top: -25px;
}
.flash-message-a{
    position: absolute;
    font-size: 13px;
    font-family: Arial, Helvetica, serif;
    color:rgba(119,119,119,1);
    display: none;
}
.field-current-password{
    font-size: 13px;
    font-family: Arial, Helvetica, serif;
    margin-left: 20px;
    display: none;
}
.field-new-password{
    font-size: 13px;
    font-family: Arial, Helvetica, serif;
    margin-left: 20px;
    display: none;
}
.field-new-password2{
    font-size: 13px;
    font-family: Arial, Helvetica, serif;
    margin-left: 20px;
    display: none;
}